@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

:root {
  --bground: #eee;
  --bmground: #ccc;
  --mground: #aaa;
  --fmground: #666;
  --fground: #333;
}

body {
  background-color: var(--bground);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 0.92em;
  color: var(--fground);
  font-weight: normal;
}

hr {
  margin: 3%;
  border: none;
  border-top: 2px var(--fmground) solid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--fmground);
    letter-spacing: unset;
}

.notation {
    border-left: solid 3px var(--fmground);
    border-right: solid 3px var(--fmground);
    padding: 25px 25px 25px 25px;
    box-shadow: 0px 0px 3px var(--fmground);
    width: 100%;
    margin: auto;
    background: var(--bmground);
}

.generalButton {
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  font-family: 'Work Sans', sans-serif;
  padding: 0.5% 1%;
  font-weight: 600;
  font-size: 110%;
  margin: 2px;
  background-color: var(--bmground);
  border: 2px solid var(--fmground);
  transition-property: background-color, border;
  transition-duration: 0.1s;
}

.generalButton:hover, .tabSelected {
  background-color: var(--bground);
  border: 2px solid var(--fground);
}

.fileButton {
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  font-family: 'Inter';
  padding: 0.5% 1%;
  font-weight: 600;
  font-size: 110%;
  margin: 2px;
  background-color: var(--bmground);
  transition-property: background-color;
  transition-duration: 0.1s;
}

.fileButton:hover, .fileSelected {
  background-color: var(--bground);
}

.tabContainer {
  border: none;
  padding: 3.5px 0px;
}

blockquote, div.blockquote {
  background-color: var(--bmground);
  border: solid 1px var(--fmground);
  box-shadow: none;
  padding: 1em;
  margin: 0.5em;
}