@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
  --bground: #efe;
  --bmground: #cdc;
  --mground: #9a9;
  --fmground: #676;
  --fground: #232;

  --accent: #b46;
}

body {
  background-color: var(--bground);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 0.95em;
  color: var(--fground);
  font-weight: normal;
}

hr {
  width: 75%;
  margin: 2.5% auto;
  border: none;
  border-top: 1px var(--fmground) solid;
}

blockquote, div.blockquote {
  background-color: var(--bmground);
  box-shadow: none;
  padding: 0.5em 1.5em;
  margin: 0.5em;
  margin-top: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    color: var(--fmground);
    text-transform: uppercase;
    letter-spacing: unset;
}

.notation {
    border-left: solid 4px var(--fmground);
    border-right: solid 4px var(--fmground);
    padding: 20px;
    width: 95%;
    margin: auto;
    color: var(--fground);
    background: var(--bmground);
}

.bt {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.generalButton {
  overflow-wrap: break-word;
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  padding: 8px;
  font-weight: 600;
  font-size: 110%;
  margin: 3px;
  background-color: var(--bmground);
  border: 2px solid var(--fmground);
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  border-radius: 5px;
  color: var(--fground);
}

.generalButton:hover, .toggledOn {
  background-color: var(--bground);
  border-color: var(--fground);
}

.toggledOn {
  cursor: auto;
}

blockquote .generalButton,
div.blockquote .generalButton,
.notation .generalButton {
  background-color: var(--bground);
}
blockquote .toggledOn,
div.blockquote .toggledOn,
.notation .toggledOn {
  background-color: var(--bmground);
  border-color: var(--fmground);
}
blockquote .generalButton:hover,
div.blockquote .generalButton:hover,
.notation .generalButton:hover {
  background-color: var(--bmground);
  border-color: var(--fground);
}

.tabLink:hover, .tabSelected {
  background-color: var(--bground);
  border-color: var(--accent);
}

.fileButton {
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  align-content: center;
  cursor: pointer;
  border: none;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  min-height: 20px;
  padding: 2px;
  margin: 2px;
  background-color: var(--bmground);
  height: fit-content;
  font-size: 90%;
  color: var(--fmground);
}

.fileButton:hover, .fileSelected {
  background-color: var(--bground);
  outline: 3px var(--fmground) double;
}

.tinyButton {
  user-select: none;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  padding: 2px 6px;
  font-weight: 600;
  font-size: 110%;
  margin: 0.5em;
  background-color: var(--bground);
  border: 2px solid var(--fmground);
  transition-property: background-color, border;
  transition-duration: 0.33s;
  border-radius: 2px;
  color: var(--fground);
}
.tinyButton:hover {
  background-color: var(--mground);
  border: 2px solid var(--fground);
}

.tabContainer {
  border: none;
  padding: 3.5px 0px;
}

.numpad {
  width: auto;
  height: 420px;
  min-width: 333px;
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  margin-top: 0px;
  margin-left: auto;
  margin-right: 2vw;
}

.padButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 33.3333%;
  background-color: var(--bmground);
  color: var(--fground);
  border: 2px solid var(--bground);
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  font-weight: 600;
  font-size: 150%;
  transition-property: background-color, color;
  transition-duration: 0.2s
}
.padButton:hover {
  background-color: var(--mground);
}
.padButton:active {
  background-color: var(--accent);
  color: var(--bmground);
}

.progressBar {
  border: 2px var(--fmground) solid;
  background-color: var(--mground);
  width: 33%;
  margin: auto;
  height: 3vh;
}

.programBox {
  width: 90%;
  margin-top: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--bmground);
  border-left: 8px solid var(--fmground);
  padding: 2px 16px;
  text-align: left;
}

.programBox p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.compAssignBox {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  margin-top: 0px;
  margin-bottom: 0px;
}

.luckVisualBox, .scanrVisualBox {
  border: 2px solid var(--fground);
  background-color: var(--fmground);
  margin: auto;
  margin-left: 1em;
}

.aegisBox {
  width: max-content;
  margin: auto;
}

.scoreLabel {
  font-family: 'Fira Code';
  font-size: 120%;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  cursor: pointer;
  border: none;
}

::-webkit-scrollbar-thumb {
  background: var(--mground);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fmground);
}

::-webkit-scrollbar-track {
  background: var(--bground);
}

@media (max-width: 707px) {
  .mobileGrid {
    grid-template-columns: auto;
  }
}